
.vs/
Libray/
obj/
Logs/
Packages/
Temp/
Library/assetDatabase3
Library/AssetImportState
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/LastBuild.buildreport
Library/metadata/4b/4bcadbd14f044654aa520d59d7d11430
Library/metadata/73/73bbc619fd2170c4e89240dc3c697e4c
Library/metadata/9d/9dd2860d07079eb47800fd32c49e95bf
Library/metadata/f1/f12cfc5a59a466b468fc21e7465af98e
Library/ProjectSettings.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptMapper
Library/StateCache/SceneView/cb0a8a-mainStage.json
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
